@model ExpoCIT.Models.Juez
@{
    ViewData["Title"] = "Usuario";
}
<div class="container-lg d-flex flex-row flex-sm-row-reverse align-items-center justify-content-between flex-wrap">
    <img class="my-2 imagenHeader" src="~/media/User.svg"/>
    <h2>@User.Identity.Name</h2>
</div>
<div class="container-lg d-flex flex-column flex-sm-row justify-content-between">
    <div>
        <h5>Cedula: @Model.Cedula</h5>
        <h5>Nombre: @Model.Nombre</h5>
        <h5>Primer Apellido: @Model.PrimerApellido</h5>
        <h5>Segundo Apellido: @Model.SegundoApellido</h5>
    </div>
    <form asp-controller="Home" asp-action="Logout" method="post">
        <button type="button" class="btn btn-danger btn-lg"><i class="bi bi-person-dash-fill"></i>   Cerrar Sesión</button>
    </form>
</div>