@model RPEJ
@{
    ViewData["Title"] = "FormProyectoExpoJovem";
}

<div class="d-flex justify-content-evenly" style="max-height: 150px;">
    <img class="my-2 imagenHeader" src="~/media/logoMep.webp"/>
    <img class="my-2 imagenHeader" src="~/media/logoDetce.webp"/>
    <img class="my-2 imagenHeader" src="~/media/logoExpoJovem.webp"/>
    <img class="my-2 imagenHeader" src="~/media/logoInfocoop.webp"/>
</div>
<div class=" mt-5 p-4 container-lg formulario">
    <h2 class="mb-5">Evaluación de proyectos Expojovem</h2>
    <div class="container">
        <div class="row d-flex align-items-baseline">
            <div class="col-lg-auto py-2">
                <h5>ID:</h5>
            </div>
            <div class="col-lg py-2">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Proyecto.Id">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-auto">
                <h5>Institución</h5>
            </div>
            <div class="col-lg">
                <input class="form-control" disabled readonly type="text" placeholder="Escribe aquí" value="Colegio Tecnico Profesional CIT">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-auto">
                <h5>Nombre del Proyecto</h5>
            </div>
            <div class="col-lg">
                <input class="form-control" disabled readonly type="text" placeholder="Escribe aquí" value="@Model.Proyecto.Nombre">
            </div>
            <div class="col-lg-auto">
                <h5>Proyecto Nº</h5>
            </div>
            <div class="col-lg">
                <input class="form-control" disabled readonly type="number" min="0" placeholder="Escribe aquí" value="@Model.Proyecto.NumStand">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-auto">
                <h5>Expositores</h5>
            </div>
            <div class="col-lg">
                <textarea class="form-control" disabled readonly rows="5">@Model.Proyecto.Integrantes</textarea>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-auto">
                <h5>Tutor</h5>
            </div>
            <div class="col-lg">
                <input class="form-control" disabled readonly type="text" placeholder="Escribe aquí" value="@Model.Proyecto.Tutor">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-auto">
                <h5>Nombre del juez</h5>
            </div>
            <div class="col-lg">
                <input class="form-control" disabled readonly type="text" placeholder="Escribe aquí" value="@Model.Proyecto.Juez?.Nombre">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-auto">
                <h5>Número de cédula del juez</h5>
            </div>
            <div class="col-lg">
                <input class="form-control" disabled readonly id="cedula" type="text" placeholder="Escribe aquí" value="@Model.Proyecto.Juez?.Cedula">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-auto">
                <h5>Fecha de la evaluación</h5>
            </div>
            <div class="col-lg">
                <input asp-for="FechaModificado" class="form-control" disabled readonly type="date">
            </div>
        </div>
    </div>
    <h2 class="mt-5 mb-3">Escala de calificación</h2>
    <h5>0: No se evidencia | 1: Muy malo | 2: Malo | 3: Regular | 4: Bueno | 5: Muy Bueno</h5>
    <h2 class="mt-5 mb-3">Calificación del Proyecto</h2>
    <div class="container tabla">
        <div class="row tituloTabla">
            <div class="col-lg py-2">
                <h3><b>Criterio: Innovación e Impacto</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla d-none d-lg-flex">
                <h4>Indicadores</h4>
            </div>
            <div class="col-lg-4 py-2 tabla d-none d-lg-flex">
                <h4>Calificación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>1.	PROPUESTA NUEVA O RENOVADA:</b> El producto o servicio se muestra como una propuesta nueva o renovada del mercado en el que participa.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="I_a" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>2.   MÉTODOS DE PRODUCCIÓN:</b> Los métodos de producción presentados se muestran novedosos comparados con lo que hay en el área de acción del proyecto.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="I_b" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>3.   COMERCIALIZACIÓN:</b> Las formas de comercializar los productos o servicios son creativas e impactan positivamente su estancia en el mercado.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="I_c" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>4.	PROPUESTA ADMINISTRATIVA:</b> La gestión y la organización del trabajo propone una reforma a lo que se conoce en la actualidad.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="I_d" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>5.	DIFERENCIACIÓN:</b> La idea en su totalidad se acompaña de un componente de creatividad y/o innovación que la hace ver diferente a otros proyectos.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="I_e" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        @*--------------------------------------------------------------------------------------------------------------------------*@
        <div class="row tituloTabla">
            <div class="col-lg py-2">
                <h3><b>Criterio: Modelo de Negocio (CANVAS)</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla d-none d-lg-flex">
                <h4>Indicadores</h4>
            </div>
            <div class="col-lg-4 py-2 tabla d-none d-lg-flex">
                <h4>Calificación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>6.	PROPUESTA DE VALOR:</b> Establece la diferenciación de su producto (bien o servicio) señalando el valor implícito y beneficios específicos del mismo, para atender a un conjunto de necesidades y deseos de la demanda.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="II_a" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>7.	SEGMENTO DE CLIENTES:</b> Establece el(los) segmento(s) de clientes a quienes estará enfocado su negocio, describiendo en detalle  el perfil de los clientes del grupo meta.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="II_b" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>8.	RELACIÓN CON CLIENTES Y CANALES:</b> Especifica las características del tipo de relación que quiere mantener con sus clientes, puntualizando los canales mediante los cuales dará a conocer y hará llegar su propuesta de valor a los clientes.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="II_c" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>9.	ACTIVIDADES Y RECURSOS CLAVE:</b> Puntualiza y describe las actividades y recursos necesarios para la producción y distribución del bien o prestación del servicio.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="II_d" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>10.	ALIANZAS CLAVE:</b> Identifica los proveedores, socios estratégicos e instituciones de apoyo necesarios para desarrollar, potenciar y mejorar el modelo de negocio propuesto.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="II_e" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>11.	ESTRUCTURA DE COSTOS E INGRESOS:</b> Resume los costos más importantes involucrados en su modelo de negocio y necesarios para crear su propuesta de valor, así como el flujo de dinero que se recibirá por la venta de bienes o prestación del servicio.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="II_f" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        @*--------------------------------------------------------------------------------------------------------------------------*@
        <div class="row tituloTabla">
            <div class="col-lg py-2">
                <h3><b>Criterio: Plan de Mercado</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla d-none d-lg-flex">
                <h4>Indicadores</h4>
            </div>
            <div class="col-lg-4 py-2 tabla d-none d-lg-flex">
                <h4>Calificación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>12.	DESCRIPCIÓN DE PRODUCTO:</b> Se hace una descripción pormenorizada del bien o servicio, especificando sus características.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="III_a" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>13.	JUSTIFICACIÓN DE LA DEMANDA:</b> Justifica con datos reales la demanda del mercado, utilizando para ello encuestas o estudios  publicados sobre la actividad; determina un segmento de mercado y caracteriza a su consumidor.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="III_b" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>14.	COMPETENCIA:</b> Hace un análisis de las fortalezas y debilidades de la competencia en comparación con su propuesta y la forma de poder aprovecharlas; determina por medio de datos concretos las cantidades de producto que se ofrecen en el mercado.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="III_c" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>15.	PROMOCIÓN, COMERCIALIZACIÓN Y DISTRIBUCIÓN:</b> Presenta un programa de promoción y publicidad, y establece un costo que se refleja en el análisis financiero. Definición de las formas en que se venderá el bien o servicio (¿quién lo venderá, dónde se venderá?).</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="III_d" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>16.	 PRECIO:</b> Establece un precio para el bien o servicio, y su comportamiento en las diferentes épocas del año; describe claramente la forma en que fue fijado a partir de los factores considerados para tal fin.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="III_e" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        @*--------------------------------------------------------------------------------------------------------------------------*@
        <div class="row tituloTabla">
            <div class="col-lg py-2">
                <h3><b>Criterio: Análisis Técnico</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla d-none d-lg-flex">
                <h4>Indicadores</h4>
            </div>
            <div class="col-lg-4 py-2 tabla d-none d-lg-flex">
                <h4>Calificación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>17.	PROCESOS:</b> Nivel de descripción de los procedimientos a seguir para producir el bien o facilitar el servicio.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="IV_a" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>18.	PRODUCCIÓN:</b> Nivel de determinación de las cantidades a producir del bien o a prestar del servicio (por mes, por año, etc.)</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="IV_b" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>19.	PROVEEDURÍA:</b> Nivel de determinación de los proveedores y de las cantidades de insumos necesarias para producir y comercializar el bien o servicio.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="IV_c" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>20.	RECURSOS:</b> Nivel de definición de los recursos requeridos para el proyecto (edificios, maquinaria, equipo, mobiliario, humanos, materia prima, etc.).</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="IV_d" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>21.	PERSONAL:</b> Nivel de definición de la cantidad de personal que requiere el proyecto y las características del mismo.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="IV_e" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>22.	ORGANIZACIÓN:</b> Nivel de definición de puestos, departamentos o unidades que se requieren para la operación administrativa y productiva del proyecto.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="IV_f" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        @*--------------------------------------------------------------------------------------------------------------------------*@
        <div class="row tituloTabla">
            <div class="col-lg py-2">
                <h3><b>Criterio: Análisis Económico y Financiero</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla d-none d-lg-flex">
                <h4>Indicadores</h4>
            </div>
            <div class="col-lg-4 py-2 tabla d-none d-lg-flex">
                <h4>Calificación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>23.	 INGRESOS:</b> Describe y fundamenta de manera mensual y anual cuáles serían los ingresos del proyecto.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="V_a" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>24.	 COSTOS Y GASTOS:</b> Describe detalladamente con precio y cantidades cuáles serían los egresos del proyecto.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="V_b" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>25.	 FINANCIAMIENTO:</b> Determina la forma en la cual será financiada la propuesta, ya sea con recursos propios o entidades financieras, y lo refleja en su flujo de caja.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="V_c" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>26.	 INDICADORES FINANCIEROS:</b> Presentación de indicadores financieros (al menos Relación Beneficio Costo [B/C]) a partir del flujo de caja proyectado y supuestos debidamente establecidos.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="V_d" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>27.	 RENTABILIDAD:</b> Muestra aspectos de impacto económico a nivel regional o nacional, generando ingresos para los proponentes que justifique la inversión tanto en valores absolutos como relativos.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="V_e" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        @*--------------------------------------------------------------------------------------------------------------------------*@
        <div class="row tituloTabla">
            <div class="col-lg py-2">
                <h3><b>Criterio: Atención al Cliente</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla d-none d-lg-flex">
                <h4>Indicadores</h4>
            </div>
            <div class="col-lg-4 py-2 tabla d-none d-lg-flex">
                <h4>Calificación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>28.</b> Trato amable, respetuoso y cortés a los visitantes, diferenciado y propio de la propuesta de negocios.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VI_a" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>29.</b> Se permite la accesibilidad al producto y a la información, brindando material técnico, promocional y de contacto pertinente y de calidad.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VI_b" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>30.</b> Atentos  a la llegada y atención del público, se presentan de forma natural y oportuna, a la vez que procuran conocer e identificar al visitante.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VI_c" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>31.</b> Muestran el producto con agrado, esmero y entusiasmo (actitud positiva), demostrando un claro dominio de la temática y su evidente participación en la preparación del proyecto. además reciben las recomendaciones de forma proactiva y respetuosa.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VI_d" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        @*--------------------------------------------------------------------------------------------------------------------------*@
        <div class="row tituloTabla">
            <div class="col-lg py-2">
                <h3><b>Criterio: Espíritu Emprendedor</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla d-none d-lg-flex">
                <h4>Indicadores</h4>
            </div>
            <div class="col-lg-4 py-2 tabla d-none d-lg-flex">
                <h4>Calificación</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>32.</b> Manifiesta necesidad de logro,  independencia y de construcción de la propuesta, así como interés, gusto y pasión por lo que hace.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VII_a" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>33.</b> Manifiesta confianza y optimismo en sus capacidades y posibilidades de éxito, a la vez que considera y calcula factores de riesgo, e imagina, genera y propone ideas y soluciones originales, creativas y fundamentadas.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VII_b" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>34.</b> Manifiesta una visión clara de su proyecto, apoyada por ideas concretas, logrando evidenciar una capacidad de persuasión que se basa en su motivación, impulso, preparación (conocimiento) y habilidad.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VII_c" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5><b>35.</b> Alta capacidad de comunicación, y disposición a recibir y solicitar consejo o ayuda, por lo que reacciona con tolerancia, flexibilidad y respeto hacia las ideas y puntos de vista de otros.</h5>
            </div>
            <div class="col-lg-4 py-2 tabla d-flex justify-content-around align-items-center">
                @for (int i = 0; i <= 5; i++) {
                    <div class="form-check form-check-inline rdbLetras">
                        <input asp-for="VII_d" value="@i" type="radio" disabled readonly class="form-check-input rdb">
                        <label class="form-check-label">@i</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5 style="text-align: center;">Observaciones Generales</h5>
                <textarea asp-for="DG" class="form-control" disabled readonly rows="10"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg py-2 tabla">
                <h5 style="text-align: center;">Firma del juez</h5>
                <div class="flex-fill border">
                    <canvas class="w-100 h-100"></canvas>
                </div>
            </div>
        </div>
    </div>

    <input id="firma" name="firma" type="hidden" />
    <input asp-for="Id" hidden readonly/>
</div>

<footer class="fixed-bottom p-3">
    <a asp-controller="User" asp-action="Index" class="btn btn-secondary align-items-center"><h3><i class="bi bi-arrow-return-left me-3"></i>Volver a Inicio</h3></a>
</footer>

@if (!Model.estado)
{
 <script>
    let allRadioButtons = document.querySelectorAll('.rdb');
    allRadioButtons.forEach(value => value.checked = false);
</script>   
}

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>

<script>
    const canvas = document.querySelector("canvas");

    function resizeCanvas() {
        const ratio =  Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        signaturePad.clear(); // otherwise isEmpty() might return incorrect value
    }

    const signaturePad = new SignaturePad(canvas, {
        backgroundColor: 'rgb(255,255,255)'
    });

    window.addEventListener("resize", resizeCanvas);
    resizeCanvas();

    @if(Model.FirmaDigital.Length != 0) {
        var b64 = Convert.ToBase64String(Model.FirmaDigital);
        string dataURL = $"data:image/png;base64,{b64}";
        <text>
            signaturePad.fromDataURL("@Html.Raw(dataURL)");
        </text>
    }

    signaturePad.off();

    $("form").submit(function(){
        const dataURL = signaturePad.toDataURL("image/png");
        $("#firma").val(dataURL);
        debugger;
    });
</script>